style {
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-width: 100px;
}
.container {
    color: white;
}

.pe {
    background-color: coral;
    color: black;
}

.menu {
    background-color: grey;
    color: black;
    text-align: center;
    text-transform: capitalize;
}